<!DOCTYPE html>
<html>
  <head>
    <%include ./include/head_include.ejs %>
    <link rel="stylesheet" href="/stylesheets/list.css">
    <link rel="stylesheet" href="/stylesheets/list_css.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>
  </head>
  <body>
    <%include index.ejs%>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default panel-table">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col col-xs-12">
                              <form action="/list/1" method="get">
                                <select name="type" class="form-control">
                                  <option value="title">제목</option>
                                  <option value="content">내용</option>
                                  <option value="name">작성자</option>
                                  <option value="tag">테그</option>
                                </select>
                                <input width="200px" type="text" name="search" class="form-control input-text">
                                <input type="submit" value="검색"  class="btn btn-sm btn-default input-button">
                                <input type="button" value="전체보기" onclick="location.href='/list/1'"  class="btn btn-sm btn-default input-button">
                                <button type="button" class="btn btn-sm btn-primary input-button" onclick="location.href='/write'">글쓰기</button>
                              </form>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-bordered table-list">
                            <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>이름</th>
                                    <th>제목</th>
                                    <th>조회수</th>
                                    <th>작성일</th>
                                </tr>
                            </thead>
                            <tbody>
                              <%
                              for(var i = 0; i < rows.length; i++) {
                                var oneItem = rows[i];
                                if(rows[0].is_delete != 1) {
                                  %>
                                <tr>
                                    <td><%=oneItem.idx%></td>
                                    <td><%=oneItem.name%></td>
                                    <td>
                                      <a href="/read/<%=oneItem.idx%>/<%=oneItem.hit%>/<%=page%>">
                                          <%=oneItem.title%> [<%=oneItem.counts%>]
                                      </a>
                                      <p><%=oneItem.tag%></p>
                                    </td>
                                    <td><%=oneItem.hit%></td>
                                    <td><%=oneItem.update_date%></td>
                                </tr>
                                <% }} %>
                            </tbody>
                        </table>

                    </div>
                    <div class="panel-footer col col-xs-12">
                      <%
                        if(search != undefined) {
                      %>
                      <div style="text-align: center">
                          <ul class="pagination hidden-xs pull-center">
                              <li><a href="/list/1?type=<%=type%>&search=<%=search%>"><<<</a></li>
                              <li><a href="/list/<%=page - 1%>?type=<%=type%>&search=<%=search%>">이전</a></li>
                              <%
                              for(i = startPage; i <= endPage; i++) {
                                if(rows[0].is_delete != 1) {
                                  if(page == i) { %>
                                  <li><a><%=i%></a></li>
                                <%  } else { %>
                              <li> <a href="/list/<%=i%>?type=<%=type%>&search=<%=search%>"><%=i%></a></li>
                              <%  }}} %>
                              <li><a href="/list/<%=page + 1%>?type=<%=type%>&search=<%=search%>">다음</a></li>
                              <li><a href="/list/<%=totalPage%>?type=<%=type%>&search=<%=search%>">>>></a></li>
                          </ul>
                      </div>
                        <%
                        } else {
                        %>
                        <div style="text-align: center">
                          <ul class="pagination">
                              <li><a href="/list/1"><<<</a></li>
                              <li><a href="/list/<%=page - 1%>">이전</a></li>
                              <%
                              for(i = startPage; i <= endPage; i++) {
                                if(rows[0].is_delete != 1) {
                                  if(page == i) { %>
                                    <li><a><%=i%></a></li>
                                <%  } else { %>
                              <li><a href="/list/<%=i%>"><%=i%></a></li>
                              <%  }}} %>
                              <li>  <a href="/list/<%=page + 1%>">다음</a></li>
                              <li><a href="/list/<%=totalPage%>">>>></a></li>
                          </ul>
                          <%}%>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
